* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-white: #ffffff;
  --bg-color-green: #7fffd4;
}

body {
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

header {
  background-color: var(--bg-color-white);
  padding: 30px 24px;
  align-items: center;
}

header h1 {
  font-weight: 800;
  margin-left: 24px;
}

header button {
  margin: 0 0 0 auto;
  background-color: #e9e9ed;
  border: #8f8f9d solid 1px;
  border-radius: 6px;
  padding: 2px 40px;
}
header button h5 {
  font-size: 18px;
}

main {
  background-color: var(--bg-color-green);
  flex-grow: 1;
}

footer {
  background-color: var(--bg-color-white);
}
